.chats{
    max-width: 800px;
    overflow-y: scroll ;
    padding: 8rem;
    border-radius: 10px;
    
}

.chats {
    scrollbar-width: thin;
    scrollbar-color: #555 #111;
    height: 150px;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}