
.login-container{
padding:0px;
width: 100%;
display: flex;
color: #f1f6fd;
height: 100vh;
width: 100vw;
 font-family: "Asap", sans-serif;
 background-color: #0c1116;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 10px;  
background-color: #212121;
display: flex;          
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #f1f6fd;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}


.submit-btn {
  background-color: #238636;
  border: none;
  width: 350px;
  border-radius: 5px;
  height: 45px;
  color: #f1f6fd;
  font-weight: 700;
  margin: 30px 75px 30px 95px ;
  padding: 0px;
  font-size: large;
  display: block;
} 


.submit-btn:hover {
  background-color: #499458;
  cursor: pointer;
  
}

.input:hover,
.input:focus {
  border-color: lightblue;
}

.passkey-signup {
  margin-left: 20px;
}
 
.line{
  margin-left:  90px 150px 100px;
}

.logout{
  margin: 0px 40px 0px 40px;
  padding-top:  0px  5px 5px 5px;
  justify-items: center;
  justify-items: center;
  display: block;
}
